.productsCarousel img  {
    width: 100% !important;
    height: 600px !important;
}
.priceandicon{
    display: flex;
    justify-content: space-between;
}
.avatarandname{
    display: flex;
}
.chatwithSeller{
    display: block !important;
    color:white !important;
    outline: none !important;
    font-weight: 600 !important;
    background-color: #002f34 !important;
    border:4px solid black !important;
    width: 95% !important;
    margin-bottom: 10px;
}
.chatwithSeller:hover{
    color: #002f34 !important;
    background-color: white !important;
}

.productDetails__phoneNum{
margin-left: -8px;
}