.featuredParent{
    background-color: #ebeeef;
    border-radius: 4px;
    padding: 16px 16px 32px;
    margin: 16px 0 24px;
    width: 100% !important;
}

.featuredHeading{
    background-color: #ebeeef;
}
.CardImg{
    height: 250px !important;
}
.card{
    margin-right: 10px !important;
    margin-left: 10px !important;
}
.react-multiple-carousel__arrow--left, .react-multiple-carousel__arrow--right{
position: absolute !important;
top:150px !important;
}