 .CarouselItem{
    text-align: center !important;
    margin-top: -8px;
    height: 250px !important;
}
 .CarouselItemImg{
width: 150px !important;
text-align: center;
} 
.CarouselIndicators{
    top: 195px !important;
}
.CarouselIndicators li{
    background-color: Black !important;
} 

.CarouselCaption {
    color: black !important;
    display: block !important;
}

@media(min-width: 771px){
    .CarouselCaption {
        display: block !important;
        color: black !important;

    }
    
}